@import url('https://fonts.googleapis.com/css?family=Seymour+One');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC');


body, html {
    margin: 0;
}

.header_main {
    height: 100vh;
    position: relative;
}

.header_video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.video_container {
    height: 100vh;
    overflow: hidden;
}
.video_opacity {
    height: 100vh;
    width: 100vw;
    background: rgba(255,255,255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.emblema {
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 50px;
    width: auto;
    height: 150px;
    background: rgba(255,255,255, 0.5);
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0, 1);
}
.emblem_img {
    height: 100%;
}

.hike_club_label {
    position: static;
    height: 100%;
    transform: scale(-1, 1);
    box-shadow: 0 0 20px rgba(0,0,0, 1);
    border-radius: 12px
}
.emblem_item {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
}
.text_block {
    position: static;
    
}
.club,.club_name {
    margin: 0;
    padding: 0;
    font-family: "Seymour One";
}
.club {
    font-size: 5rem;
}

.article_block {
    position: absolute;
    box-sizing: border-box;
    z-index: 3;
    top: 250px;
    left: 80px;
    width: 90vw;
    height: 65vh;
    background: rgba(76, 230, 251, 0.8);
    box-shadow: 0 0 20px rgba(0,0,0, 1);
    overflow-y: scroll;
    border-radius: 50px;
    padding: 30px;
    font-family: "Vollkorn SC"
}

.letshike {
    font-size: 2em;
}
.hiking_img {
    width: 300px;
    border-radius: 20px;
    border: 10px double black;
    box-sizing: border-box;
}
.left {
    float: left;
    margin: 5px 10px 5px 0px;
}
.right {
    float: right;
    margin: 5px 0px 5px 10px;
}
.text-block{
    height: auto;
    width: 100%;
    margin-bottom: 20px;
}